<% title("Starred topics") %>

<div class="flex justify-between">
    <h1 class="text-lg mb-1 px-1 inline-block bg-secondary-700 text-white">topics you've starred</h1>
    <%= link_to "new topic", new_topic_path, class: "btn inline-block" %>
</div>

<%= render 'table', topics: @topics, topic_follows: @topic_follows, topic_views: @topic_views, mentions: @mentions %>

<%= link_to "back to topics", topics_path, class: "link--light mb-3" %>
