<% if errors.any? %>
    <div id="error_explanation" class="bg-red-200 py-2 px-3 mb-3 w-full md:w-6/12">
        <h2>
        <%= I18n.t("errors.messages.not_saved", count: errors.count)
        %>
        </h2>
        <ul class="list-disc">
            <% errors.full_messages.each do |message| %>
                <li class="ml-5"><%= message.downcase %></li>
            <% end %>
        </ul>
    </div>
<% end %>

