<h1 class="text-lg"><%= @profile.user.username %></h1>
<div class="text-med text-xs"><%= @profile.user.posts.count %> posts</div>
<div class="py-3 whitespace-pre-line break-all">
    <%= @profile.about_me %>
</div>

<% if my_profile? %>
    <%= link_to "edit my profile", edit_profile_path(@profile.user), class: "py-1 link" %>
<% end %>
